<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>

 <% if !@navbar_rendered %>
    <%= erb :navbar %>
    <% @navbar_rendered = true %>
  <% end %>
    <%= yield %>

  </body>
</html>
